body, html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    text-align: left;
    padding-top: 15px;
    font-weight: 500;
}

p {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.4em;
}

p.intro {
    font-style: italic;
    text-indent: 2em;
}

span.sentence {
    font-style: italic;
}

address {
    text-align: center;
    margin-top: 20px;
}

address a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
}

address a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

address a:visited {
    color: darkgreen;
}
